*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --white: #fafafa;
  --gray-1: #6E7076;
  --blue: #2cd4d9;
  --purple: #5333ed;
  --purple-1: #0000008c;
  --purple-2: #5233ed25;
  --gray: #1f1f1f;
  --red: #ffc400;
}

body{
  background-color: var(--white);
}

img{
  border-radius: .3rem;
  max-width: 100%;
}

.shadow{
  border: 2px solid black!important;
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,1)!important;
}

section{
  padding: .7rem;
  margin-top: 3rem;
}

a{
  text-decoration: none;
  color: white;
}

button{
  cursor: pointer;
}
/* ----- */

nav{
  z-index: 99;
  top: 0;
  position: fixed;
  width: 100%;
  /* background-color: var(--purple); */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.nav-main{
  background-color: var(--purple);
  z-index: 89;
  position: relative;
  height: min-content;
  color:var(--white);
}

nav .icon{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  padding: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}

nav h1{
  padding: 1rem;
}

nav ul{
  z-index: 85;
  position: relative;
  top: -20rem;
  padding: 1rem;
  background-color: var(--gray);
  flex-direction: column;
  gap: .5rem;
  transition: .2s ease;
  display: none;

}

nav ul.active {
  display: flex;
  top: 0;
}

nav ul a{
  padding: .5rem 1rem;
  border-left: 2px solid var(--white);
}

.nav-additional{
  display: none;
  right: 10px;
  padding: .5rem;
  position: absolute;
  bottom: -3.5rem;
  background: var(--purple);
  width: 10rem;
  border-radius: .5rem;
}

.nav-additional button{
  width: 100%;
  padding: .5rem 1rem;
  color: var(--gray);
  background-color: var(--red);
  border: none;
  border-radius: .25rem;
}

.nav-user:hover .nav-additional{
  /* margin-top: 10rem; */
  display: block;
  /* height: 20rem; */
}

/* ---- */
.margins{
  margin-inline: auto;
  /* background: red; */
  max-width: 40rem;
}

/* .tags p{
  margin-bottom: 1rem;
} */

.profile{
  border-radius: 0 0 1rem 1rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  background: var(--purple);
  flex-wrap: wrap;
}

.profile img{
  border-radius: 50%;
  background-color: var(--red);
  border: 3px solid var(--gray);
  width: 7rem;
}

.profile-info p:nth-child(1){
  font-size: .8rem;
  color: var(--blue);
}

.profile-info h2{
  font-size: 2rem;
}

.profile button{
  width: 100%;
  padding: .5rem 1rem;
  background-color: var(--red);
  outline: none;
  border: none;
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* font-weight: 800; */
  border-radius: .35rem;
  font-size: 1.2rem;
}

/* .profile ion-icon{
  --ionicon-stroke-width: 2.5rem;
} */

.logout-btn{
  font-size: 2rem!important;
}

.profile-posts{
  /* background: red; */
  display: flex;
  flex-direction: column;
}


.profile-posts > div{
  margin-top: 1rem;
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 1rem;
  padding: 1rem;
}

.post-header h3{
  font-size: 1.3rem;
  line-height: 1;
}

.tags{
  color: var(--gray-1);
  display: flex;
  gap: .5rem;
  font-size: .8rem;
}

.post-reaction{
  display: flex;
  align-items: center;
  color: var(--purple);
  font-weight: 500;
  gap: .5rem;
  margin-top: 1rem;
}
/* USER */
.login-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: var(--gray); */
  background-image: url('../public/images/26-Programmer.svg');
  background-repeat: no-repeat;
  background-position:bottom left;
  background-size: 30rem;
}

.login-form{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  border: 3px solid var(--purple);
  background-color: var(--purple-2);
  backdrop-filter: blur(5px);
  color:var(--gray);
  border-radius: .75rem;
}

.login-input{
  justify-content: center;
  display: flex;
  flex-direction:column;
}

.login-input label{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.login-input input:focus{
  outline: none;
}

.login-input input{
  border-radius: .3rem;
  font-size: 1rem;
  font-weight: 800;
  border: 3px solid var(--purple);
  padding: .5rem 1rem;
  color: var(--purple);
  background-color: var(--white);
  cursor: pointer;
}

.login-form button{
  border-radius: .3rem;
  font-weight: 800;
  padding: .75rem 1rem;
  border: none;
  cursor: pointer;
  background-color: var(--purple);
  /* border: 3px solid var(--white); */
  color: var(--white);
}

/* --- */
.products{
  /* padding: .5rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.products a{
  color: black;
}

article{
  padding: .5rem;
}

.search-filter p {
  font-weight: 800;
  font-size: 1.2rem;
}

.search-filter input{
  width: 100%;
  padding: .5rem 1rem;
  /* background-color: red; */
}

.product-filters select{
  width: 100%;
  margin: .5rem 0;
  padding: .5rem;
}
.category-filter{
  display: flex;
  flex-direction: column;
}

.product-card{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  border-radius: .5rem;
  padding: .5rem;
}

.product-info{
  margin: 1rem 0;
}

.product-info h2{
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.product-labels{
  display: flex;
  gap: .5rem;
  text-transform: lowercase;
  font-size: .8rem;
  color: var(--gray-1);
}

.product-page{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: relative;
}

.product-main{
  display: block;
}

.product-card img{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  object-fit: cover;
  width: 100%;
  max-height: 10rem;
  border-radius: .25rem;
  aspect-ratio: 16/9;
}

.product-price{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.product-price > .discount{
  font-size: .75rem;
  padding: .3rem;
  color: var(--white);
  border-radius: .3rem;
  background-color: var(--purple);
}

.product-desc{
  max-width: 85%;
  margin-top: .5rem;
  font-weight: 500;
  font-size: 1.1rem;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.product-desc h3{
  color: var(--purple);
}

.product-gallery img{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
}

.product-gallery{
  margin-top: 1rem;
  grid-gap: .5rem;
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, 1fr);
}

.product-gallery-image:first-child{
  grid-column: 1/5;
  max-height: 10rem;
  width: 100%;
  object-fit: cover;
}

.product-gallery-image:not(:first-child){
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* Gallery */
.modal{
  height: 100%;
  backdrop-filter: blur(3px);
  width: 100%;
  position: absolute;
}

.product-images{
  left: 0;
  top: 0;
  z-index: 9;
  position: fixed;
  background-color: rgba(0,0,0,.75);
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  color: white;
}

.images{
  max-height: 30rem;
  border-radius: .5rem;
  position: relative;
  height: max-content;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.images img{
  height: 100%;
  object-fit: cover;
}

.image-button{
  cursor: pointer;
  position: absolute;
  top: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  color: var(--white);
  transition: .1s ease;
  overflow: hidden;
}

.image-button:hover, .image-button:focus{
  color: var(--white);
  background-color: rgba(0,0,0,.5);
}

.image-prev{
  left: 0;
  overflow: hidden;
  background-image: linear-gradient(-90deg, rgba(0,0,0,0), rgba(0,0,0,.25));
}

.image-next{
  background-image: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,.25));
  right: 0;
}

.image-close{
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  z-index: 10;
  color: var(--white);
  background-color: var(--purple);
  display: flex;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.image-close:hover, .image-close:focus{
  color: var(--white);
}

.post-readmore{
  background-color: var(--white);
  background-color: var(--purple);
  align-self: center;
  padding: .5rem;
  border-radius: 50%;
  display: flex;
}

.post-main-link{
  color: var(--purple);
}

.post-comment{
  border: 2px solid var(--purple);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: .5rem 1rem;
  display: flex;
  flex-direction: column;
}

.allComments{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.post-comment p{
  font-size: .9rem!important;
  color: var(--gray-1);
}

.post-comment h3{
  font-size: 1.1rem;
  font-weight: 500;
}

.post-user{
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: .5rem;
}

.post-header{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.post-header h3{
  line-height: 1;
  font-size: 1.3rem;
}

.post-header .tags{
  font-size: .8rem!important;
}

.post-user img{
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  height: 6rem;
  border: 3px solid var(--purple);
}

.post-bottom{
  margin-top: .5rem;
}

.new-post{
  /* all: unset; */
  border: 2px dashed var(--purple);
  border-radius: .5rem;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  /* font-weight: 800; */
  gap: 1rem;
  font-size: 1.2rem;
  width: 100%;
  padding: .5rem 1rem;
  font-weight: 800;
  color: var(--purple);
  background-color: var(--purple-2);
}

.newpost-form{
  background-image: url('../public/images/256-Inspired-With-Ideas (1).svg');
  background-size: 30rem;
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: var(--purple);
  padding: 2rem;
  border: 6px solid var(--red);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  font-weight: 800;
  z-index: 999;
  position: relative;
}

.newpost-form input, textarea{
  padding: .5rem 1rem;
  background-color: var(--purple-1);
  border-radius: .5rem;
  color: var(--white)!important;
  backdrop-filter: blur(3px);
  font-weight: 500;
  border: 3px solid var(--red);
}


.newpost-form input:focus, textarea:focus{
  outline: none;
}

.newpost-input > p{
  color: var(--white);
  font-size: 1.3rem;
  /* letter-spacing: 2px; */
}

.newpost-input > *{
  width: 100%;
}

.newpost-form button{
  width: 100%;
  padding: 1rem 1.5rem;
  border: none;
  font-weight: 800;
  color:var(--gray);
  background-color: var(--red);
  border-radius: .5rem;
}

.post-add-comment-field{
  width: 100%;
  border-radius: .5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 90% 1fr;
}

.post-add-comment-field > * {
  padding: .5rem 1rem;
  /* font-size: 1.2rem; */
}

.post-add-comment-field input{
  border-radius: .5rem 0 0 .5rem;
  border: 2px solid var(--purple)
}

.post-add-comment-field input:focus-visible{
  border: none;
}

.submit-comment-btn{
  display: flex;
  align-self: center;
  border: none;
  font-size: 1.5rem;
  color: var(--white);
  background: var(--purple);
}

.new-post-modal{
    left: 0;
    top: 0;
    z-index: 9;
    position: fixed;
    background-color: rgba(0,0,0,.75);
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    color: white;
}

.posts-section{
  gap: 1rem;
  flex-direction: column;
}

.users-list{
  padding: .5rem;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  gap: .3rem;
  /* background: var(--purple-1); */
  height: min-content;
  margin-top: 1rem;
}

.users-list > a{
  padding: .5rem;
  /* padding-right: 1rem; */
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: max-content;
  /* display: flex; */
  background-color: var(--purple);
  color: var(--red);
  font-weight: 800;
  font-size: 1.3rem;
  border-radius: .5rem;
}

.user-list{
  overflow: hidden;
  display: flex;
  gap: .5rem;
  align-items: center;
}

.user-list img{
  width: 2rem;
  background-color: var(--red);
}

.post-pagination button{
  padding: .5rem 1rem;
  border: none;
  /* border: 2px solid var(--white); */
  border-radius: .5rem;
  background-color: var(--purple);
  color: var(--white);
  font-weight: 800;
  width: 10rem;
}

@media (min-width:500px){
  .product-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: .75rem;
  }

  /* PRODUCT PAGE */
  .product-main{
    display: flex;
    flex-direction: column;
  }

  .product-main img{
    max-height: 15rem;
    object-position: center;
    object-fit: cover;
  }
}

@media (min-width:700px){
  /* NAV */
  nav{
    background-color: var(--purple);
    justify-content: space-between;
    display: flex;
  }

  .nav-main div{
    display: none;
  }

  nav ul {
    background: none;
    display: flex;
    flex-direction: row;
    top: 0;
  }


  /* PROD */
  .product-filters{
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-gap: 1rem;
    align-items: center;
  }

  .product-main{
    width: auto;
    margin-top: 1.5rem;
    display: grid;
    grid-template-areas: 
    'img title title title'
    'img price price price';
    grid-gap: .5rem;
  }

  .product-main > .product-info{
    font-size: 1.7rem;
    grid-area: title;
    height: auto;
  }

  .product-price{
    grid-area: price;
    font-size: 2rem;
  }

  .product-main img{
    grid-area: img;
    aspect-ratio: 9/16;
    width: 100%;
    max-width: 30rem;
    min-height: 20rem;
  }

  .product-desc > h3{
    font-size: 2.5rem!important;
  }

  .product-desc > p {
    font-size: 1rem!important;
  }

  .product-main {
    max-width: 50rem;
  }

  .product-gallery{
    /* margin-top: auto; */
    max-width: 50rem;
  }

  .images{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40rem;
    height: 30rem;
    background-color: var(--gray);
    /* min-height: 35rem; */
  }

  .image-button, .image-close{
    font-size: 2rem;
  }

  .posts-section{
    flex-direction: row;
  }

  .users-list{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 80vh;
    min-width: max-content;
    flex-direction: column;
  }

  .users-list > a{
    padding: 1.5rem .5rem;
  }

  /* .product-gallery-image:first-child{
    grid-column: 1/5;
    max-height: 20rem;
    /* width: 100%; 
    object-fit: cover;
  } */
}

@media (min-width:850px){
  .product-card{
    flex-direction: row;
    gap: 1rem;
  }

  .product-card img{
    aspect-ratio: 1/1;
    max-width: 10rem;
  }

  .product-info{
    display: flex;
    flex-direction: column;
  }

  .product-desc{
    margin: auto 0;
  }

  .products{
    grid-template-columns: repeat(2, minmax(25rem, 1fr));
  }

  .post-header h3{
    width: 85%;
    font-size: 1.8rem;
  }

  .margins p{
    font-size: 1.1rem;
  }
}

@media(min-width:1100px){
  .images{
    min-width: 60rem;
  }
  
  .products{
    grid-template-columns:repeat(3, minmax(25rem, 1fr));
  }
}

@media(width > 1200px){
  .products{
    grid-template-columns:repeat(3, minmax(30rem, 1fr));
  }
}